@charset "UTF8";


:root{
    --cor01: #linear-gradient(to top, #007d00, #025702);
}
body{
    background-image: url("../imagens/pexels-fox-1038916.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
main{
    position: relative;
    width: 95vw;
    height: 95vh;
    margin: auto;
    background-color: rgba(80, 76, 76, 0.527);  
}

article{
    width: 20%;
    height: 60vh;
}


.fundoms{
    position: absolute;
    background: #007d00 url("../imagens/logoxbox.png") no-repeat center center;
    background-size: 65%;
    left: 39%;
    top: 20%;   
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.801);
}

.fundoms:hover{
    background: #058305 url("../imagens/logoxbox.png") no-repeat center center;
    background-size: 70%;
    box-shadow: 6px 6px 12px #02ff02b2;
    transition: background-size .5s, box-shadow .9s;
}

.fundoms:active{
    background: #07c407 url("../imagens/logoxbox.png") no-repeat center center;
    background-size: 70%;
    box-shadow: 6px 6px 12px #02ff02;
}


.fundops{
    position: absolute;
    background: #003791 url("../imagens/logo-ps.png") no-repeat center center;
    background-size: 55%;
    top: 20%;
    left: 6%;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.801);
}

.fundops:hover{
    background: #053e99 url("../imagens/logo-ps.png") no-repeat center center;
    background-size: 60%;
    box-shadow: 6px 6px 12px #074ebecc;
    transition: background-size .5s, box-shadow .9s;
}

.fundops:active{
    background: #0b5bdd url("../imagens/logo-ps.png") no-repeat center center;
    background-size: 60%;
    box-shadow: 6px 6px 12px #0c68fdcc;
}



.fundonint{
    position: absolute;
    background: #e60012 url("../imagens/logonintendo.png") no-repeat center center;
    background-size: 80%;
    top: 20%;
    left: 73%;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.801);
}

.fundonint:hover{
    background: #fd0217 url("../imagens/logonintendo.png") no-repeat center center;
    background-size: 85%;
    box-shadow: 6px 6px 12px #fd0d21d5;
    transition: background-size .5s, box-shadow .9s;
}

.fundonint:active{
    background: #ff172b url("../imagens/logonintendo.png") no-repeat center center;
    background-size: 85%;
    box-shadow: 6px 6px 12px #fd0d21;
}

