@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background: black url(../imagens/pexels-fox-1038916.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

header{
    position: relative;
    background: #012ea5 url(../imagens/logomartinsxpgamesmenup.png) no-repeat center center;
    width: 100vw;
    height: 13vh;
    box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.815);
}

menu{
    display: none;
}

menu > ul > li{
    margin-bottom: 22px;
}

menu > ul > li > a{
    position: absolute;
    display: block;
    background-color: rgba(56, 56, 56, 0.918);
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(220, 220, 220, 0.425);
    width: 100px;
    transform: translate(24px,-4px);
    
}

menu > ul > li > a:hover{
    background-color: rgba(138, 136, 136, 0.918);
}


span#menuh{
    color: beige;
    background-color: rgba(0, 0, 0, 0.712);
    cursor: pointer;
    margin-top: 60px;
}

span#menuh:hover{
    background-color: rgba(71, 67, 67, 0.863);
}

main{
    background-color: rgba(46, 45, 45, 0.685);
    width: 90vw;
    margin: auto;
    padding: 1px
}

article{
    margin-bottom: 10px;
}

article#nintendo{
    background: #e60012 url("../imagens/logonintendo.png") no-repeat center center;
    background-size: 250px;
    width: 100%;
    height: 20vh;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.801);
}

article#nintendo:hover{
    background: #fd0217 url("../imagens/logonintendo.png") no-repeat center center;
    background-size: 265px;
    box-shadow: 6px 6px 12px #fd0d21d5;
    transition: background-color .5s, background-size .5s, box-shadow .9s;
}

article#xbox{
    background: #007d00 url("../imagens/logoxbox.png") no-repeat center center;
    background-size: 140px;
    width: 100%;
    height: 20vh;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.801);
}

article#xbox:hover{
    background: #058305 url("../imagens/logoxbox.png") no-repeat center center;
    background-size: 150px;
    box-shadow: 6px 6px 12px #02ff02b2;
    transition: background-color .5s, background-size .5s, box-shadow .9s;
}

article#playStation{
    background: #003791 url("../imagens/logo-ps.png") no-repeat center center;
    background-size: 110px;
    width: 100%;
    height: 20vh;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.801);
}

article#playStation:hover{
    background: #053e99 url("../imagens/logo-ps.png") no-repeat center center;
    background-size: 115px;
    box-shadow: 6px 6px 12px #074ebecc;
    transition: background-color .5s, background-size .5s, box-shadow .9s;
}

footer{
    background-color: black;
    margin-top: 130px;
    padding: 8px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}